Repository okdistribute/ditto-docs-sandbox, changes with the owners that .github/CODEOWNERS names for each.
All owners: @getditto/docs-mergers, @getditto/product, @TMWilds, @getditto/customer-experience, @getditto/dittotools, @mattcarabine, @skylerjokiel, @busec0, @phatblat, @kristopherjohnson, @danielhenrymantilla, @hamchapman, @cameron1024, @teodorciuraru, @pvditto, @konstantinbe, @nicholastmosher, @getditto/sdk-engineers

.github/CODEOWNERS:

#
# .github/CODEOWNERS
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
#

# Docs Global Default
* @getditto/docs-mergers

# Docs Site Configuration
mint.json @getditto/product

# Cloud
/cloud/ @TMWilds

# CX
/best-practices/                    @getditto/customer-experience
/support/                           @getditto/customer-experience
/best-practices/example-projects/   @getditto/dittotools

# DQL
/dql/ @mattcarabine

# SDKs
/sdk/                   @skylerjokiel
/sdk/**/c-sharp.**      @busec0 @phatblat @skylerjokiel
/sdk/**/cpp**           @kristopherjohnson @danielhenrymantilla @hamchapman @skylerjokiel
/sdk/**/flutter**       @cameron1024 @teodorciuraru @skylerjokiel
/sdk/**/java**          @phatblat @skylerjokiel
/sdk/**/js**            @pvditto @teodorciuraru @konstantinbe @skylerjokiel
/sdk/**/kotlin**        @phatblat @skylerjokiel
/sdk/**/nodejs**        @pvditto @teodorciuraru @konstantinbe @skylerjokiel
/sdk/**/react-native**  @pvditto @teodorciuraru @konstantinbe @skylerjokiel
/sdk/**/rust**          @danielhenrymantilla @hamchapman @nicholastmosher @skylerjokiel
/sdk/**/swift**         @konstantinbe @phatblat @skylerjokiel
/sdk/**/sdk-size**      @getditto/sdk-engineers @skylerjokiel

Fix formatting and broken links in the C++ SDK Install Guide (#48)
  sdk/latest/install-guides/cpp.mdx
Owners: @kristopherjohnson, @danielhenrymantilla, @hamchapman, @skylerjokiel

Add example of connstr to MDB Connector docs (#45)
  cloud/mongodb-connector.mdx
Owners: @TMWilds

Operator Public Preview Docs (#46)
  cloud/operator-quickstart.mdx
Owners: @TMWilds

Update TOMBSTONE documentation (#50)
  dql/YAGtbUIy40FsnPL0Kj4gd.mdx
Owners: @mattcarabine

Fix attachment token reference images in docs (#53)
  images/v4.8/datatype-2.webp
  images/v4.9/datatype-2.webp
  sdk/latest/data-types/attachment.mdx
  sdk/v4-8/data-types/attachment.mdx
Owners: @getditto/docs-mergers, @skylerjokiel

Fixed Syncing Data - C# Example where argument wasn't set properly (#55)
  sdk/latest/sync/syncing-data.mdx
  sdk/v4-7/sync/syncing-data.mdx
  sdk/v4-8/sync/syncing-data.mdx
Owners: @skylerjokiel

Update app-builder.mdx (#52)
  cloud/portal/app-builder.mdx
Owners: @TMWilds

typo (#58)
  cloud/portal/app-builder.mdx
Owners: @TMWilds

Update Kotlin and C# transport config snippets on Creating Sync Groups page (#51)
  sdk/latest/sync/creating-sync-groups.mdx
  sdk/v4-7/sync/transports-overview.mdx
  sdk/v4-8/sync/creating-sync-groups.mdx
Owners: @skylerjokiel

Add guide for integrating with crash reporters (#56)
  best-practices/2-setup-and-sdk-configuration.mdx
  best-practices/integrate-with-crash-reporters.mdx
  mint.json
Owners: @getditto/customer-experience, @getditto/product

Fix transportConfig for Kotlin Install Guide (#59)
  snippets/connect-examples/playground/kotlin-playground.mdx
Owners: @getditto/docs-mergers

Don't nest support KB articles into an auto-collapsed group (#62)
  mint.json
Owners: @getditto/product

Migrate from mint.json to docs.json (#63)
  docs.json
  mint.json
Owners: @getditto/docs-mergers, @getditto/product

Fix formatting changes for DQL adoption guide (#61)
  dql/xeYWOOPLOOTHDta6kCQll.mdx
Owners: @mattcarabine

Revise Data Store Create documentation and snippets (#54)
  sdk/latest/crud/create.mdx
  sdk/v4-7/crud/create.mdx
  sdk/v4-8/crud/create.mdx
Owners: @skylerjokiel
